* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

.todo-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  background-color: white;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: white;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #573e3e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #a28484;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  background-color: white;
}

li {
  padding: 10px;
  background-color: #f4f4f4;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

li .delete-btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

li .delete-btn:hover {
  background-color: darkred;
}
