* {
  margin-left: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #573e3e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
}

button:hover {
  background-color: #a28484;
  color: black;
}
