body {
  background-color: #66deb2;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-text {
  flex-grow: 1;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
