body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
  font-family: "Arial", sans-serif;
  margin: 20px 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 100%;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.app {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: lightblue;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #86f0f4;
}
